.profilepicture {
    height: 130px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.buttons {
    display: block;
}
.button1 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button1:hover {
    background-color: #0071E3;
}
.button2 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button2:hover {
    background-color: #0071E3;
}
.button3 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button3:hover {
    background-color: #0071E3;
}
.button4 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button4:hover {
    background-color: #0071E3;
}.button5 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button5:hover {
    background-color: #0071E3;
}
.button6 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button6:hover {
    background-color: #0071E3;
}
.button7 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button7:hover {
    background-color: #0071E3;
}
.button8 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button8:hover {
    background-color: #0071E3;
}
.button9 {
    border: solid;
    border-color: #0071E3;
    border-radius: 50px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background-color: #121215;
    color: #FFFFFF;
    transition: 0.3s;
}
.button9:hover {
    background-color: #0071E3;
}
h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}
html {
    height: 100%;
    background-color: #121215;
    background-image: linear-gradient(to bottom right, rgb(18, 18, 15), rgb(67, 126, 232))
}